n8narchivo.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "***REDACTED***",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "***REDACTED***",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un asistente experto en clasificar correos electrónicos. Tu única tarea es analizar el remitente y el contenido de un correo y decidir si pertenece a la categoría 'linkedin' o 'otro'.\n\nClasificarás el correo como 'linkedin' si se cumplen AMBAS de las siguientes condiciones:\n1. El remitente es exactamente 'jobalerts-noreply@linkedin.com'.\n2. El asunto o el cuerpo del correo contiene la frase 'Ingeniero de software'.\n\nSi no se cumplen ambas condiciones, clasificarás el correo como 'otro'.\n\nTu respuesta debe ser UNA SOLA PALABRA: 'linkedin' o 'otro'. No añadas explicaciones, saludos ni ningún texto adicional.\n\n---\nRemitente: {{ $json.From }}\nAsunto y Cuerpo: {{ $json.Subject }} {{ $json.snippet }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "***REDACTED***",
      "name": "Message a model",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "***REDACTED***",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "***REDACTED***",
              "leftValue": "={{ $json.content.parts[0].text }}",
              "rightValue": "linkedin",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "id": "***REDACTED***",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "***REDACTED***"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        768,
        -94.5
      ],
      "id": "***REDACTED***",
      "name": "Add label to message",
      "webhookId": "***REDACTED***",
      "credentials": {
        "gmailOAuth2": {
          "id": "***REDACTED***",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        976,
        -94.5
      ],
      "id": "***REDACTED***",
      "name": "Remove label from message",
      "webhookId": "***REDACTED***",
      "credentials": {
        "gmailOAuth2": {
          "id": "***REDACTED***",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Remove label from message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "***REDACTED***"
  }
}